@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  /* ================== HEADER ================== */
  .page-header-container {
    display: flex;
    align-items: center;
    padding: 0;
  }
  .navigation {
    display: flex;
    align-items: center;
    margin-right: auto;
  }
  .logotype {
    margin-right: 76px;
  }
  .nav-list {
    display: flex;
    align-items: center;
  }
  .header-contacts-list {
    display: flex;
    align-items: center;
  }
  .nav-item:not(:last-child) {
    margin-right: 40px;
  }
  .header-contacts-item:not(:last-child) {
    margin-right: 40px;
  }
  .main-header {
    border-bottom: 1px solid #e7e9fc;
  }
  .nav-link {
    position: relative;
    display: block;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-color);
    transition: color var(--transform-dir-and-func);
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .nav-link:hover,
  .nav-link:focus {
    color: #404bbf;
  }
  .current {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;
  }
  .current-portfolio::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 66px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }
  .current-index::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 48px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }
  .header-contacts {
    display: block;
  }
  .contact-link {
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
    transition: color var(--transform-dir-and-func);
  }
  .contact-link:hover,
  .contact-link:focus {
    color: #404bbf;
  }
  .mob-menu-open-btn {
    display: none;
  }
  /* ================== /HEADER ================== */
  /* ================== HERO ==================== */
  .hero {
    padding-top: 187px;
    padding-bottom: 187px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/web_wtudio_desktop_bg/bg_desktop.jpg");
    max-width: 1440px;
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/web_wtudio_desktop_bg/bg_desktop@2x\ .jpg");
    }
    .hero-title {
      font-size: 56px;
      line-height: 1.07;
      max-width: 500px;
      margin-bottom: 48px;
    }
  }
  /* ================== /HERO ==================== */
  /* ================== SECTION-ABOUT ==================== */
  .section-about-subtitle {
    text-align: start;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .section-about-text {
    max-width: 264px;
  }

  .about-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
  }
  /* ================== /SECTION-ABOUT ==================== */
  /* ================== IMG-SECTION ==================== */
  .img-section {
    padding-bottom: 120px;
    display: block;
  }
  .img-list {
    display: flex;
    justify-content: space-between;
  }
  /* ================== /IMG-SECTION ==================== */
  /* ================== TEAM ==================== */
  .team-list {
    gap: 24px;
  }
  /* ================== /TEAM ==================== */
  /* ================== CUSTOMERS ==================== */
  .customers-list {
    gap: 24px;
  }
  .customers-list-item {
    flex-basis: calc((100% - 120px) / 6);
  }
  /* ================== /CUSTOMERS ==================== */
  /* ================== FOOTER ==================== */
  .footer-text-container {
    margin-right: 120px;
  }
  .footer-social-list-container {
    margin-right: 80px;
  }
  /* ================== /FOOTER ==================== */
  /* ==================   MODAL-WINDOW ==================== */
  .modal {
    min-width: 408px;
  }
  .modal-form-check-desc {
    font-size: 12px;
  }
  /* ==================   /MODAL-WINDOW ==================== */
}
