@media screen and (min-width: 480px) {
  .container {
    max-width: 426px;
  }
  /* ================== HEADER ================== */
  .mob-menu-contact-link-tel {
    font-size: 36px;
  }
  /* ================== /HEADER ================== */
  /* ================== HERO ==================== */
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/web_studio_tablet_bg/bg-tablet.jpg");
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/web_studio_tablet_bg/bg-tablet@2x.jpg");
    }
  }
  .hero-title {
    font-size: 36px;
  }
  /* ================== /HERO ==================== */
  /* ================== SECTION-ABOUT ==================== */

  /* ================== /SECTION-ABOUT ==================== */
  /* ================== TEAM ==================== */
  .team {
    padding-bottom: 128px;
  }
  /* ================== /TEAM ==================== */
  /* ================== CUSTOMERS ==================== */

  /* ================== /CUSTOMERS ==================== */

  /* ==================   MODAL-WINDOW ==================== */
  .modal {
    min-width: 393px;
  }
  .modal-form-check-desc {
    font-size: 12px;
  }
  /* ==================   /MODAL-WINDOW ==================== */
}
