@media screen and (min-width: 768px) and (max-width: 1199) {
  .container {
    max-width: 766px;
  }
  /* ================== HERO ==================== */
  .hero {
    padding-bottom: 108px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/web_wtudio_desktop_bg/bg_desktop.jpg");
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/web_wtudio_desktop_bg/bg_desktop@2x\ .jpg");
      max-width: 1440px;
    }
  }
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 500px;
    margin-bottom: 40px;
  }
  /* ================== /HERO ==================== */
  /* ================== SECTION-ABOUT ==================== */
  .section-about-subtitle {
    text-align: start;
  }
  .section-about-text {
    max-width: 356px;
  }
  /* ================== /SECTION-ABOUT ==================== */
  /* ================== TEAM ==================== */
  .team {
    padding-bottom: 104px;
  }
  .team-list {
    row-gap: 64px;
    column-gap: 24px;
  }
  /* ================== /TEAM ==================== */
  /* ================== CUSTOMERS ==================== */
  .customers-list {
    column-gap: 24px;
  }
  .customers-list-item {
    flex-basis: calc((100% - 48px) / 3);
  }
  /* ================== /CUSTOMERS ==================== */
}
