@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  /* ================== HEADER ================== */
  .page-header-container {
    display: flex;
    align-items: center;
    padding: 0;
  }
  .navigation {
    display: flex;
    align-items: center;
    margin-right: auto;
  }
  .logotype {
    margin-right: 76px;
  }
  .nav-list {
    display: flex;
    align-items: center;
  }
  .nav-item:not(:last-child) {
    margin-right: 40px;
  }
  .main-header {
    border-bottom: 1px solid #e7e9fc;
    padding: 0;
  }
  .nav-link {
    position: relative;
    display: block;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-color);
    transition: color var(--transform-dir-and-func);
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .nav-link:hover,
  .nav-link:focus {
    color: #404bbf;
  }
  .current {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;
  }
  .current-portfolio::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 66px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }
  .current-index::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 48px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }
  .header-contacts {
    display: block;
  }
  .contact-link {
    font-size: 12px;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
    transition: color var(--transform-dir-and-func);
  }
  .contact-link:hover,
  .contact-link:focus {
    color: #404bbf;
  }
  .mob-menu-open-btn {
    display: none;
  }
  /* ================== /HEADER ================== */
  /* ================== HERO ==================== */
  .hero {
    padding-bottom: 108px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/web_wtudio_desktop_bg/bg_desktop.jpg");
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/web_wtudio_desktop_bg/bg_desktop@2x\ .jpg");
      max-width: 1440px;
    }
  }
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 500px;
    margin-bottom: 40px;
  }
  /* ================== /HERO ==================== */
  /* ================== SECTION-ABOUT ==================== */
  .section-about-subtitle {
    text-align: start;
  }
  .section-about-text {
    max-width: 356px;
  }
  /* ================== /SECTION-ABOUT ==================== */
  /* ================== TEAM ==================== */
  .team {
    padding-bottom: 104px;
  }
  .team-list {
    row-gap: 64px;
    column-gap: 24px;
  }
  /* ================== /TEAM ==================== */
  /* ================== CUSTOMERS ==================== */
  .customers-list {
    column-gap: 24px;
  }
  .customers-list-item {
    flex-basis: calc((100% - 234px) / 3);
  }
  /* ================== /CUSTOMERS ==================== */
  /* ================== FOOTER ==================== */
  .logotype-footer {
    text-align: start;
  }
  .footer-text-container {
    margin-right: 24px;
  }
  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-social-list-suptitle {
    text-align: start;
  }
  .subscribe-form-title {
    text-align: start;
  }
  .subscribe-form-input {
    width: 268px;
    margin-bottom: 0;
    margin-right: 24px;
  }
  .subscribe-form {
    flex-direction: row;
  }
  /* ================== /FOOTER ==================== */

  /* ==================   MODAL-WINDOW ==================== */
  .modal {
    min-width: 408px;
  }
  .modal-form-check-desc {
    font-size: 12px;
  }
  /* ==================   /MODAL-WINDOW ==================== */
  .projects-list {
    column-gap: 24px;
    row-gap: 48px;
  }
  .projects-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}
